$grid-count: 2 3 4 5 6;

.c-hand {
  cursor: pointer;
  @include transition();
}

.thin {
  font-weight: thin;
  color: $text-muted;
}

.flex-1 {
  flex: 1;
}

.inherit {
  color: inherit;
}

.bg-green {
  background-color: $green;
}

.text-green {
  color: $green;
}

.bg-light-green {
  background-color: $light-green;
}

.text-light-green {
  color: $light-green;
}

.grid {
  display: grid;

  &-item {
    img {
      width: 100%;
    }
  }
}

@each $count in $grid-count {
  .grid-#{$count} {
    @extend .grid;
    grid-template-columns: repeat($count, 1fr);
    gap: 1rem;

    @include media-md {
      grid-template-columns: repeat($count - 2, 1fr);
    }

    @include media-sm {
      grid-template-columns: auto;
    }
  }
}

.ref {
  width: 2rem;
  height: 2rem;
  background-color: $primary;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @extend .rounded-circle;
  color: $light;
  // padding: 0.5rem;

}

.hover-primary {
  &:hover {
    color: $primary;
  }
}

.text-small {
  font-size: 0.9rem;
}

.text-bold {
  font-weight: bold;
}

.text-justify {
  text-align: justify;
}