$primary: #E43F23; // #E85D45;


$btn-padding: 0.6rem 3.125rem;
$dark: #333333;
$secondary: #c4c4c4;
$text-color: #0e0e16;
$info: #004150;
$light-green: #036277;
$light-gray: #F2F2F2;

// $theme-colors: ("primary": $primary,
//     "dark": $dark,
//     "secondary": $secondary,
//     "green": $green,
//     "light-gray": $light-gray,

// );

// $theme-colors: map-merge($theme-colors, $custom-colors);