@import "../../node_modules/tailwindcss/base.css";
@import "../../node_modules/tailwindcss/components.css";
@import "../../node_modules/tailwindcss/utilities.css";
@import "./variables";
@import "./mixins";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "bootstrap/scss/bootstrap-reboot.scss";

@import "./global";
@import "./helpers";
@import "./components/header";
@import "./components/moreicon.scss";
@import "./pages/home.scss";
@import "./pages/dashboard";
@import "./pages/login";
@import "./pages/forum";
@import "./components/button";
@import "./components/input";
@import "rsuite/dist/styles/rsuite-default.css";



#modal-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;

  @include transition();
  z-index: 2;

  .theme-modal {
    background-color: white;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 1rem 1.8rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 70%;
    margin: auto;
    // position: absolute;
    top: 20%;

    .theme-modal-body {
      /* width: 100%;
    max-width: 70%;
    margin: auto; */
    }
  }
}

#front-layout {
  position: relative;
}